:root{
    --primary-color: #0F9D58;
    --background-color: #f0f3f7;
    --second-color: #9da2ad;
    --grey: #7a7a7a;
    --white: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
}

a{
    color: unset;
    text-decoration: none;
}

body, html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
}

.nav{
    padding: 16px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 32px;
    font-weight: 900;
    color: var(--primary-color);
}

.menu-item{
    margin-left: 16px;
    color: var(--grey);
    font-weight: 600;
    padding: 8px 20px;
    transition: .5s ease-in-out;
}

.menu-item:hover{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 16px;
}

.menu .active{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 16px;
}

.cart-btn{
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.fullheight{
    height:100vh;
}

.bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed{
    background-attachment: fixed;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slogan{
    text-align: left;
}

.slogan h1{
    font-size:100px;
    color: var(--primary-color);
}

.slogan button{
    padding: 16px 80px;
    border: none;
    outline: none;
    background-color: var(--background-color);
    border: 2.5px solid var(--primary-color);
    border-radius: 30px;
    color: var(--primary-color);
    font-weight: 800;
    margin: 40px 0;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.slogan button:hover{
    color: var(--white);
    background-color: var(--primary-color);
}

.fullwidth{
    width: 100%;
}

#about img{
    border-radius: 32px;
    box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px;
}

.about-slogan{
    padding: 50px;
    background-color: var(--white);
    border-radius:30px;
    box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px;
    transform: translateX(-120px);
}

.about-slogan h3{
    font-size:27px;
    color:var(--grey);
    margin-bottom: 20px;
}

.primary-color{
    color:var(--primary-color);
}

.food-menu{
    margin: 80px 0px;
    padding:40px;
    background-color: var(--white);
    border-radius:30px;
    box-shadow: rgba(98, 99, 99, 0.2) 0px 8px 29px 0px;
}

.food-menu h1{
    color:var(--grey);
}

.food-menu p{
    margin: 20px 0px;
}

.food-category{
    display:flex;
}

.food-category button{
    padding: 8px 30px;
    margin: 0px 10px;
    outline:none;
    border: 2.5px solid var(--primary-color);
    border-radius: 30px;
    background-color: transparent;
    color: var(--primary-color);
    font-weight:600;
    cursor:pointer;
    transition: .5s ease-in-out;
}

.food-category button:hover, .food-category button.active{
    background-color: var(--primary-color);
    color: var(--white);
}

.food-item-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}

.food-item{
    width: 25%;
    height: 350px;
    padding: 10px;
}

.item-wrap{
    height: 100%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.item-wrap:hover{
    border-radius:30px;
    box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px 0px;
}

.item-img{
    height: 60%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.img-holder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.img-holder:hover{
    transform: scale(2) rotate(45deg);
}

.item-info{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 20px;
}

.item-info h3{
    color:var(--grey);
}

.item-info>div:first-child{
    text-align: left;
}

#testinonial{
    margin-top: 100px;
    margin-bottom:100px;
}

.review-wrap{
    width:100%;
    padding: 40px;
    background-color: var(--white);
    border-radius:30px;
    box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px 0px;
    position: relative;
}

.review-content{
    padding: 30px;
    border-bottom: 3px solid var(--grey);
    position: relative;
    text-align: center;
}

.review-img{
    position: absolute;
    width: 60px;
    height:60px;
    border-radius: 10px;
    box-shadow: rgba(98, 99, 99, 0.3) 0px 8px 24px 0px;
    transform: translateX(-50%);
    left: 50%;
}

.review-info{
    padding: 40px;
    text-align: center;
    position: relative;
}

.rating{
    margin-top:20px;
}

.rating i{
    color: var(--primary-color);
}

.review-wrap.active{
    transform: scale(1.2);
    z-index: 2;
}

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--white);
}

.footer h1{
    color: var(--primary-color);
}

.input-group{
    padding:20px;
    border: 1px solid var(--primary-color);
    border-radius:30px;
    margin-top: 40px;
    display:flex;
    justify-content:space-between;
}

.input-group input{
    flex: auto;
    outline: none;
    border: none;
    background-color:transparent;
    color: var(--white);
}

.input-group button{
    padding:8px 15px;
    outline: none;
    border: none;
    background-color:var(--primary-color);
    border-radius:20px;
    color: var(--white);
    font-weight:600;
    cursor: pointer;
}